*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    
}
nav{
    position: absolute;
    background: black;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
nav .left{
    display: flex;
    /* background: pink; */
    align-items: center;
}
nav .left img{
    width: 60px
}
nav ul{
    display: flex;
    list-style: none;
    padding-left: 50px;
    text-transform: uppercase;
    
}
nav .left ul li{
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.827);
}

/* llljj */
nav .right{
    display: flex;
    /* background: pink; */
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    padding-left: 50px;
    text-transform: uppercase;
    
}
nav .right{
    /* background: pink; */
}
nav .right ul{
    padding-right: 250px;
    /* background: red; */
}
nav .right ul li{
    padding-right: 20px;
    color: white;
}
.container{
    padding: 0 50px;
}
#hero2{
    padding: 0 50px;
    width: 100%;
    display: block;
    transition: ease-in 0.5ms;
}
.tabs_content{
    position: relative;
}
.tabs_content .tabs img{
    max-width: 100%;
}
.tabs{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity .2s ease-in;
}
.tabs.active{
    opacity: 1;
}
#myVideo {
    width: 100%; /* Set the width in pixels */
    height: 100%; /* Set the height in pixels */
  }
  